server {
   listen       80;
   server_name  localhost;
   location /jsrpc {
       rewrite /jsrpc /  break;
       proxy_pass http://zksync-forwarder:3030;
   }
   location /api/v0.1/ {
       proxy_ssl_session_reuse off;
       proxy_pass https://${ZKSYNC_API_URL}/api/v0.1/;
       proxy_ssl_server_name on;
   }
}